 /* ВОПРОС
        display: block;
        padding-top: 24px;
        padding-bottom: 25px; хотела увеличить площадь ссылки,
         как у Репеты, но паддинги элементов и контейнера 
         суммируются , а, считаю, для размера контейнера 
         грамотнее ставить паддинги .page-header, 
         а не устанавливать размер за счет паддингов ссылок. 
         Как сделать и грамотно и площадь ссылок увеличить? */

/* Logo */
.logo {
    margin-right: 93px;
   
    font-family: 'Raleway', sans-serif;
    font-weight: var(--title-font-weight);
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--active-accent-color);
    }

    &--black {
        color: var(--black-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &--white {
        color: var(--primary-white-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--black:hover,
    &--black:focus,
    &--white:hover,
    &--white:focus {
        color: var(--active-accent-color);
    }
}

// .logo:hover,
// .logo:focus {
//     color: var(--active-accent-color);
// }

// .logo--black {
//     color: var(--black-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .logo--white {
//     color: var(--primary-white-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }



// .logo--black:hover,
// .logo--black:focus,
// .logo--white:hover,
// .logo--white:focus {
//     color: var(--active-accent-color);
// }